<div class="min-h-screen flex flex-col justify-center items-center bg-gray-100 p-4">
  <div class="bg-white p-8 rounded shadow-md w-full max-w-md min-h-[600px] min-w-[300px]  flex flex-col justify-between">
      <div>
        <div class="mb-3 w-full bg-gray-200 rounded-full dark:bg-gray-300">
          <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 100%; opacity: 0.5;"> 4/4</div>
        </div>
        <h1 class="font-bold text-center text-2xl mb-4">Sync consent settings across apps</h1>
        <hr class="my-4 border-gray-300">
        <!-- <h2 class="font-medium text-xl mb-2">Sync consent settings across apps</h2> -->
        <p class="my-10 text-gray-700">Success! Your consent settings for sharing your SleepBuddy health data are saved.
            Download the α-SHC app to sync these settings with other compatible health apps and manage your health data sharing.</p>
      </div>
      <div class="grid grid-cols-1 gap-4">
        <button type="button" class="rounded-full border-2 border-blue-500 bg-white text-blue-500 py-2 px-6 hover:bg-gray-100">Return to Sleep Buddy</button>
        <button type="button" class="rounded-full bg-green-500 text-white py-2 px-6" >Download α-SHC</button>
      </div>
    </div>
  </div>
